/* Define custom font */
@font-face {
    font-family: 'Aboreto'; /* Font family name */
    src: url('Aboreto.ttf') format('truetype'); /* Font source */
}

/* Body styles */
body {
    font-family: 'Aboreto', Arial, sans-serif; /* Set font family for the body */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Header styles */
header {
    background-color: #e5d3b3; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center-align text */
    width: 100%; /* Full width */
}

/* Logo styles */
img.logo {
    width: 250px; /* Logo width */
    display: block; /* Make it a block element */
    margin: 0 auto; /* Center-align horizontally */
}

/* Navigation styles */
nav {
    display: flex; /* Use flexbox for navigation */
    justify-content: center; /* Center-align navigation items */
    margin-top: 20px; /* Margin from the top */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Padding */
}

/* Navigation link styles */
nav a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Text color */
    margin: 0 20px; /* Margin between links */
}

/* Hover effect on navigation links */
nav a:hover {
    color: rgb(93, 46, 31); /* Change color on hover */
}

/* Featured photo section styles */
.featured-photo {
    text-align: center; /* Center-align text */
    width: 100%; /* Full width */
}

/* Styles for sections with IDs 'Previous_projects' and 'skills_title' */
#Previous_projects,
#skills_title{
    text-align: center; /* Center-align text */
}

/* Styles for the projects section */
.projects {
    display: flex; /* Use flexbox */
    height: 600px; /* Set height */
    border: 10px solid #e5d3b3; /* Border */
    justify-content: space-around; /* Space around items */
    background-color: #e5d3b3; /* Background color */
}

/* Styles for individual project */
.project {
    width: fit-content; /* Set width to fit content */
    height: 250px; /* Set height */
    text-align: center; /* Center-align text */
    border-radius: 15px; /* Border radius */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
}

/* Styles for project images */
.project img {
    width: 400px; /* Set image width */
    height: 300px; /* Set image height */
    object-fit: cover; /* Cover the container */
}

/* Styles for project titles */
.project h3 {
    margin: 5px; /* Margin */
    width: 100%; /* Full width */
    height: auto; /* Auto height */
}

/* Styles for project descriptions */
.project p {
    margin: 5px; /* Margin */
    font-size: 12px; /* Font size */
    width: 300px; /* Set width */
    height: auto; /* Auto height */
    display: inline-block; /* Display as inline block */
    text-align: justify; /* Justify text */
}

/* Styles for the skills section */
.skills {
    text-align: center; /* Center-align text */
    margin-top: 50px; /* Margin from the top */
    background-color: hsl(38, 49%, 90%); /* Background color */
}

/* Styles for skill images */
.skills img {
    width: 400px; /* Set image width */
    height: 300px; /* Set image height */
    object-fit: cover; /* Cover the container */
}

/* Styles for the autobiography section */
.autobiography {
    width: 100%; /* Full width */
    max-width: 600px; /* Maximum width */
    margin: 0 auto; /* Center-align horizontally */
    text-align: center; /* Center-align text */
    border-radius: 15px; /* Border radius */
    box-sizing: border-box; /* Include padding and border in the box's total width and height */
}

/* Styles for the contact container */
.contact-container {
    max-width: 600px; /* Maximum width */
    margin: 50px auto; /* Margin */
    padding: 20px; /* Padding */
    border: 1px solid #ccc; /* Border */
    border-radius: 10px; /* Border radius */
    text-align: left; /* Left-align text */
    margin-bottom: 150px; /* Margin from the bottom */
    background-color: hsl(38, 49%, 70%); /* Background color */
}

/* Styles for contact container headings */
.contact-container h2 {
    color: #333; /* Text color */
}

/* Styles for unordered lists */
ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

/* Styles for list items */
ul li {
    margin-bottom: 10px; /* Margin */
}

/* Styles for strong elements */
strong {
    font-weight: bold; /* Bold font weight */
}

/* Styles for anchor links */
a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
}

/* Hover effect on anchor links */
a:hover {
    color: aqua;
}

/* Styles for the footer section */
.footer {
    background-color: #e5d3b3; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center-align text */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to bottom */
    width: 100%; /* Full width */
}

